<div class="contact">
	<div class="maps" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=37.77493,-122.41942&amp;zoom=12&amp;size=640x400&amp;path=weight:3%7Ccolor:blue%7Cenc:{coaHnetiVjM??_SkM??~R&amp;key=AIzaSyA4rAT0fdTZLNkJ5o0uaAwZ89vVPQpr_Kc');"></div>
	<div class="contatUs" style="background-image:url(images/contacto.png);">
		<div class="container" style="width:930px;">
			<div class="contact-tittle">
				<h2>Contacto</h2>
				<p>
					Para reclamo, consulta o solicitudes, favor llenar el formulario. <br>
					Nos pondremos en contacto contigo con la mayor brevedad posible
				</p>
			</div>
			<br>
			<div class="contact-form-content">
				<div class="col-xs-6">
					<form action="" class="contact-form">
						<input class="form-control" placeholder="Nombre"></input>
						<input class="form-control" placeholder="Mail"></input>
						<select class="form-control" placeholder="Asunto">
							<option value="" selected disabled >Asunto</option>
							<option value="">Servicio al cliente</option>
							<option value="">Sugerencia</option>
							<option value="">Afiliarse</option>
							<option value="">Reportar error/avería</option>
							<option value="">Otro</option>
						</select>
						<textarea class="form-control" placeholder="Tu mensaje" name="" id="" cols="30" rows="10"></textarea>
						<br>
						<div class="form-group">
							<button class="mdn-btn">ENVIAR</button>
						</div>
						
					</form>
				</div>
				<div class="col-xs-6">
					<div class="direction">
						<p>
							Dirección: <br>
							Av Bolívar Nº 75, <br>
							La Esperilla, Santo Domingo
						</p>
						<p>
							<br>
							Teléfono: <br>
							809-731-5919
						</p>
					</div>
					
					<div class="social-m">
						<div class="facebook_circle icon_socials"></div>
						<div class=" twitter_circle icon_socials"></div>
						<div class="google_circle icon_socials"></div>
						<div class="rrs_circle icon_socials"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>