<div class="container" style="max-width:1000px;">
	<div class="col-xs-12">
		<h1 style="text-align:center;">Política de Privacidad</h1>
		<div style="clear:both;"></div>
	</div>
	<div style="clear:both;"></div>
	<br><br>
	<div class="col-xs-12" style="text-align:justify;">
		<ul>
			<li>
				BUILDINGSOFTWARE JE, SRL tiene plena conciencia del uso y tratamiento que se debe dar a los datos personales que se puedan requerir o que se puedan obtener de los usuarios en sus páginas web con el fin de gestionar los servicios ofrecidos o para remitirles comunicaciones comerciales de productos o servicios que puedan resultar de su interés.
			</li>
			<li>
				BUILDINGSOFTWARE JE, SRL adoptará las medidas técnicas y organizativas necesarias que garanticen la seguridad de los datos de carácter personal y eviten así su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología. BUILDINGSOFTWARE JE, SRL no puede ni garantiza la no violación de los datos mediante accesos fraudulentos a ellos por parte de terceros u otros sistemas informáticos automatizados.
			</li>
			<li>
				BUILDINGSOFTWARE JE, SRL utiliza tecnología de cookies para poder ofrecer los servicios de los sitios web. Este es un pequeño archivo de texto almacenado en su equipo mediante el cual se permite mejorar la experiencia del usuario y reconocer los patrones de uso del mismo dentro del portal. La desactivación de cookies puede interferir con el buen funcionamiento del sitio, de forma que BUILDINGSOFTWARE JE, SRL no se responsabiliza de la desactivación de las mismas por parte del usuario.
			</li>
			<li>
				El usuario acepta que los distribuidores afiliados a la red y otros terceros pueden utilizar cookies para fines de recolección de data de estadísticas, clics/impresiones de publicaciones, o cualquier otra funcionalidad que sea requerida en cualquier momento.
			</li>
			<li>
				BUILDINGSOFTWARE JE, SRL utiliza también datos del navegador y equipo del usuario para fines de estadística y mejora de la experiencia del usuario, como direcciones IP, datos técnicos del equipo o dispositivo, localizaciones y patrones de uso en los sitios web de BUILDINGSOFTWARE JE, SRL. Estos datos puedan quedar registrados en sistemas de BUILDINGSOFTWARE JE, SRL o de terceros, de forma temporal o permanente.
			</li>
			<li>
				BUILDINGSOFTWARE JE, SRL se reserva el derecho a la utilización de la información estadística recopilada en los sitios web, incluyendo, pero no limitada, para la generación de reportes, proyecciones, promociones y eventos, ya sea de forma individual o consolidada, tanto para uso interno como para uso de terceros, clientes, anunciantes o licenciatarios.
			
			</li>
			Exclusión de Garantías y Responsabilidad
			<li>
				BUILDINGSOFTWARE JE, SRL no se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que pudieran ocasionar, a título enunciativo: errores u omisiones en los contenidos, falta de disponibilidad del portal o la transmisión de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.


			</li>
			Modificación de las Presentes Condiciones y Duración
			<li>		
				BUILDINGSOFTWARE JE, SRL podrá modificar en cualquier momento las condiciones aquí determinadas, siendo debidamente publicadas como aquí aparecen. La vigencia de las citadas condiciones irá en función de su exposición y estarán vigentes hasta que sean modificadas por otras debidamente publicadas.
			</li>
		</ul>
		<div style="clear:both;"></div>
	</div>
	
	<div style="clear:both;"></div><br><br>
</div>
