<div class="dealer-main perfil_dealer">
	<div>
		<div class="dealer-dash">
			<div style="min-height:250px; background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=37.77493,-122.41942&amp;zoom=12&amp;size=640x400&amp;path=weight:3%7Ccolor:blue%7Cenc:{coaHnetiVjM??_SkM??~R&amp;key=AIzaSyA4rAT0fdTZLNkJ5o0uaAwZ89vVPQpr_Kc'); background-repeat: no-repeat; background-size: cover; background-position: center;" class="mapsDash"></div>
		</div>
		<div class="dealer-info">			
			<div class="container" style="max-width:1000px;">
				<div class="col-xs-4">
					<div class="espacio">
						<div class="centrado">
							<div class="dealer-perfil-photo">
								
							</div>
							<div class="dealer-names">
								<h4>AUTO TREN</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-8 dealer_information">
					<div class="col-xs-12">
						<div class="form-group naranja">
							<h3>DEALER</h3>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<div class="col-xs-4 naranja">NOMBRE:</div>
							<div class="col-xs-8" style="text-align:left;">desc</div>
							<div style="clear:both;"></div>
						</div>
						<div class="form-group">
							<div class="col-xs-4 naranja">TELÉFONO:</div>
							<div class="col-xs-8" style="text-align:left;">desc</div>
							<div style="clear:both;"></div>
						</div>
						<div class="form-group">
							<div class="col-xs-4 naranja">WHATSAPP:</div>
							<div class="col-xs-8" style="text-align:left;">desc</div>
							<div style="clear:both;"></div>
						</div>
						<div class="form-group">
							<div class="col-xs-4 naranja">DIRECCIÓN:</div>
							<div class="col-xs-8" style="text-align:left;">desc</div>
							<div style="clear:both;"></div>
						</div>
					</div>
				</div>			
			</div>	
		</div>
		
		<div class="dealer-menu">
			<div class="container" style="max-width:1000px;">
				<br><br>
			</div>			
		</div>		
	</div>
</div>
<div class="publicaciones-index publ_dealer">
	<div class="container" style="max-width: 1000px;">
		<div class="col-xs-12">
			<h4 class="tittle">INVENTARIO DE CARROS</h4>
			<small>Actualmente encuentras 32 vehículos publicados por NOMBRE DE DEALER</small>
			<div class="form-group">
				<select name="" id="" class="form-control select_md" style="max-width:200px;float: left;margin-right: 10px;">
					<option value="">Precio (Mayor a Menor)</option>
				</select>
				<button ng-click="changueClass(false)" class="button-menu-option-view">
					<i class="icon-mdn_tumb" aria-hidden="true"></i></button>
				<button ng-click="changueClass(true)" class="button-menu-option-view">
					<i class="icon-mdn_list" aria-hidden="true"></i></button>
				<div style="float:right;" class="mdn-paginador-resultados">
					<span ng-repeat="key in [1,2,3,4,5,6]">{{key}}</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="results" ng-repeat="key in [1,2,3,4,5,6]">
				<div class="col-xs-4 content">
					<div class="result">
						<div class="image-background"></div>
						<div class="publicacion_container">
						<div class="tittle-result">
							<div class="col-xs-9">
								<h4>HYUNDAI TUCSON</h4>
								<span>Marca / Modelo / Trim / Descripción básica</span>	
							</div>
							<div class="col-xs-3 iconStar">
								<span class="icon-mdn_star"></span>
							</div>
							<div style="clear:both;"></div>							
						</div>
						<div class="options">
							<div class="col-xs-3" style="padding:0;">
								<span>
									<i class="icon-mdn_calendar"></i>
									<span>2003</span>
								</span>
							</div>
							<div class="col-xs-3" style="padding:0;">
								<span>
									<i class="icon-mdn_millaje"></i>
									<span>40 Millas</span>
								</span>
							</div>
							<div class="col-xs-3" style="padding:0;">
								<span>
									<i class="icon-mdn_combustible"></i>
									<span>Diesel</span>
								</span>
							</div>
							<div class="col-xs-3" style="padding:0;color:black;">
								<span>
									<i style="color:black;" class="icon-mdn_currency"></i>
									<span>Compra</span>
								</span>
							</div>
						</div>
						<div style="clear:both;"></div>	
						<div class="col-xs-12">
							<div class="price">
								<div><h5 style="margin-bottom: 15px;">DOP 515.120</h5></div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="actions">
								<button>DETALLES</button>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>			
		</div>
		<div class="results" ng-repeat="key in [1,2,3,4]">
				<div class="col-xs-12 content">
					<div class="result" style="padding-bottom: 0;">
						<div class="col-xs-4 image-background brg-list"></div>
						<div class="col-xs-8 desc_list">
							<div class="tittle-result">
								<div class="col-xs-9">
									<h4>HYUNDAI TUCSON</h4>
									<span>Marca / Modelo / Trim / Descripción básica</span>	
								</div>
								<div class="col-xs-3 iconStar">
									<span class="icon-mdn_star"></span>
								</div>
								<div style="clear:both;"></div>							
							</div>
							<div class="col-xs-12">
								<div class="price">
									<div class=""><h3 class="naranja" style="text-align: left;">DOP 515.120</h3></div>
								</div>
							</div>
							<div class="col-xs-8 iconos_list">
								<div class="options">
									<div class="col-xs-3" style="padding:0;">
										<span>
											<i class="icon-mdn_calendar"></i>
											<span>2003</span>
										</span>
									</div>
									<div class="col-xs-3" style="padding:0;">
										<span>
											<i class="icon-mdn_millaje"></i>
											<span>40 Millas</span>
										</span>
									</div>
									<div class="col-xs-3" style="padding:0;">
										<span>
											<i class="icon-mdn_combustible"></i>
											<span>Diesel</span>
										</span>
									</div>
									<div class="col-xs-3" style="padding:0;">
										<span>
											<i class="icon-mdn_currency" style="color:black;"></i>
											<span>Compra</span>
										</span>
									</div>
								</div>
							</div>							
							<div class="col-xs-4" style="margin-top: 6px;">
								<div class="actions">
									<button class="ActionBtn">DETALLES</button>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>