<div ng-init="initDetail()"></div>
<div class="publicacion-detail">
	<div class="container" style="max-width: 1000px;">
		<div class="col-xs-12">
			<div class="col-xs-12 tittle-detail" style="padding-left: 0;">
				<h1>{{publicacion.Modelo}}</h1>
				<hr>
				<h1>{{publicacion.Publicacion_Dealer.Nombre}}</h1>
			</div>		
			<div class="col-xs-12" style="padding-left: 0;margin-left: -12px;    margin-bottom: 25px;">
				<div class="mdn-detail-first-params">
					<i class="icon-mdn_calendar"></i>
					<span>{{publicacion['Año']}}</span>
				</div>
				<div class="mdn-detail-first-params">
					<i class="icon-mdn_millaje"></i>
					<span>{{publicacion.Millaje}} millas</span>
				</div>
				<div class="mdn-detail-first-params">
					<i class="icon-mdn_combustible"></i>
					<span>{{publicacion.Combustible}}</span>
				</div>
				<div class="mdn-detail-first-params">
					<!-- <i class="icon-mdn_subastas_circle" style="color:black;"></i> -->
					<i class="icon-mdn_ventas_circle" style="color:black;" ng-show="publicacion.Tipo=='Subasta'"></i>
					<i class="icon-mdn_currency_shape-circle" style="color:black;" ng-show="publicacion.Tipo=='Venta'"></i>
					<span >{{publicacion.Tipo}}</span>
				</div>
			</div>
			<div class="detail-fast">
				<div class="col-xs-5" style="padding-left: 0;">
					<h4 class="naranja">PRECIO: DOP {{publicacion.PrecioEnDOP|currency}}</h4>
				</div>
				<div class="col-xs-4">
					<h4>Cuotas: {{cuota|currency}}
					<i class="glyphicon glyphicon-info-sign" >
						<div  class="disclaimer" style="background-image: url('images/disclaimer.png');">
							Basado en un préstamo de 60 meses con un inicial <br>
							de {{porcentajeMensual}}%, a una tasa de referencia de {{tasaSys}}% anual. La cuota<br>
							mostrada no es garantizada, sólo un estimado. No incluye seguro.
						</div>
					</i>
					</h4> 
				</div>
				<div class="col-xs-3" style="text-align:right; padding-right: 0;">
					<span class="favorito">
						<i class="icon-mdn_star"></i>
					</span>
					<a href="#/dealer/{{publicacion.Publicacion_Dealer.Id}}" class="mdn-btn-naranja">PERFIL DEALER</a>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div>
			<div class="col-xs-12" ng-show="publicacion.Tipo=='Subasta'">
				<div class="col-xs-12 subasta">				
					<h3>SUBASTA</h3>
					<div>
						<div class="col-xs-3 of">[{{publicacion.Pujas.length}} ofertas] | <span class="naranja">Restan: {{diasRestantes}} dias</span></div>
						<div class="col-xs-2">
							<div style="text-align:center;font-size:13px;">Oferta actual:</div>
							<div><b><span class="naranja of_actual">DOP {{ofertActual|currency}}</span></b></div>
						</div>
						<div class="col-xs-5 of_subasta">
							<sup class="naranja" style="font-weight: 600;">Tu oferta</sup>
							<input type="number" class="mdn-input-text" min="{{montoMin}}" ng-model="TuOferta" value="" placeholder="{{$scope.montoMin}}">
							<sup class="tooltip_introduce">Introduce DOP {{montoMin| currency}} o más</sup>
						</div>
						<div class="col-xs-3" style="text-align:center;">
							<button class="mdn-btn" ng-click="pujar(TuOferta)">Ofertar</button>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>				
			</div>
			<div class="col-xs-6 ">
				<div class="mdn-slick-imagen-grande" style="background-image:url('{{photoSelected}}'); background-position:center; background-size:cover;"></div>
				<slick class="mdn-slick-publicacion" infinite="true" init-onload=true data="publicacion.Fotos" slides-to-show="4" slides-to-scroll="4" adaptiveHeight="true" style="overflow: hidden;" >
					<div class="mdn-slick-publicacion-item" ng-repeat="(key, foto) in publicacion.Fotos" style="background-image:url('{{foto.Url}}'); background-position:center; background-size:cover;" ng-click="photoSelect(foto.Url)"></div>
				</slick>
				<div class="publicidad">
				</div>
			</div>
			<div class="col-xs-6">
				<div class="mdn-detail-detailsContent">
					<div>
						<h3>ESPECIFICACIONES</h3>
					</div>
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Marca
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Marca}}</div>
						<div style="clear:both;"></div>
					</div>
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Modelo
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Modelo}}</div>
						<div style="clear:both;"></div>
					</div>
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Edición
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Edicion}}</div>
						<div style="clear:both;"></div>
					</div>
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Motor
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Motor}}</div>
						<div style="clear:both;"></div>
					</div>
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Inducción
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Induccion}}</div>
						<div style="clear:both;"></div>
					</div>
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Transmisión
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Transmision}}</div>
						<div style="clear:both;"></div>
					</div>				
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Tracción
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Traccion}}</div>
						<div style="clear:both;"></div>
					</div>
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Color
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Color}}</div>
						<div style="clear:both;"></div>
					</div>
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Combustible
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Combustible}}</div>
						<div style="clear:both;"></div>
					</div>
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Millaje
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Millaje}}</div>
						<div style="clear:both;"></div>
					</div>
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Puertas
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Puertas}}</div>
						<div style="clear:both;"></div>
					</div>
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Pasajeros
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Pasajeros}}</div>
						<div style="clear:both;"></div>
					</div>
					<div class="detail-especificacion">
						<div class="title_espc col-xs-6">
							Estado
						</div>
						<div class="col-xs-6 resp_espc">{{publicacion.Condicion}}</div>
						<div style="clear:both;"></div>
					</div>
					<div>
						<br>
						<h5 class="naranja title_feat"><b>FEATURES</b></h5>
						<div class="col-xs-6" ng-repeat="feature in publicacion.Features track by $index">
							-{{feature.Nombre}}
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="mdn-details-dealler-content">
				<div class="col-xs-6">
					<div class="col-xs-12">
						<h4 style="font-weight: 600; text-align:left; margin-top:0;">Dealer</h4>
					</div>
					<div class="col-xs-6">
						<div class="mdn-details-dealler-photo" style="background-image: url('/images/noimage.png');">
						</div>
					</div>
					<div class="col-xs-6 mdn-details-dealler-details">
						<div>
							<div class="dealer_information_title col-xs-6">
								Nombre:
							</div>
							<div class="col-xs-6 dealer_information_resp"><b>{{publicacion.Publicacion_Dealer.Nombre}}</b></div>
							<div style="clear:both;"></div>
						</div>
						<div>
							<div class="dealer_information_title col-xs-6">
								Telefono:
							</div>
							<div class="col-xs-6 dealer_information_resp">{{publicacion.Publicacion_Dealer.Telefono}}</div>
							<div style="clear:both;"></div>
						</div>
						<div>
							<div class="dealer_information_title col-xs-6">
								WhatsApp:
							</div>
							<div class="col-xs-6 dealer_information_resp">{{publicacion.Publicacion_Dealer.WhatsApp}}</div>
							<div style="clear:both;"></div>
						</div>
						<div>
							<div class="dealer_information_title col-xs-6">
								Dirección:
							</div>
							<div class="col-xs-6 dealer_information_resp">{{publicacion.Publicacion_Dealer.Direccion}}</div>
							<div style="clear:both;"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div>
						<!--<google-map class="mdn-details-dealler-maps" disableZoom="true" latitude="37.77493" longitude="-122.41942"></google-map>-->
						<div class="mdn-details-dealler-maps" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center={{publicacion.Publicacion_Dealer.Coordenadas}}&amp;zoom=16&amp;size=640x400&amp;path=weight:3%7Ccolor:blue%7Cenc:{coaHnetiVjM??_SkM??~R&amp;key=AIzaSyA4rAT0fdTZLNkJ5o0uaAwZ89vVPQpr_Kc');">
							<!--<img src="https://maps.googleapis.com/maps/api/staticmap?center=47.5952,-122.3316&amp;zoom=16&amp;size=640x400&amp;path=weight:3%7Ccolor:blue%7Cenc:{coaHnetiVjM??_SkM??~R&amp;key=AIzaSyA4rAT0fdTZLNkJ5o0uaAwZ89vVPQpr_Kc">-->
						</div>
						<div style="clear:both"></div>
					</div>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="col-xs-12">
			<h3 style="margin-top: 80px; font-weight:normal; font-size:20px;">OFERTAS SIMILARES</h3>
		</div>
		<div style="clear:both"></div>		
		<slick class="mdn-slick-similares" infinite="true" arrows="true" slides-to-show="5" slides-to-scroll="4" adaptiveHeight="true" style="overflow: hidden;" >
			<div class="mdn-slick-publicacion-item">1</div>
			<div class="mdn-slick-publicacion-item">2</div>
			<div class="mdn-slick-publicacion-item">3</div>
			<div class="mdn-slick-publicacion-item">4</div>
			<div class="mdn-slick-publicacion-item">5</div>
			<div class="mdn-slick-publicacion-item">6</div>
		</slick>
	</div>
</div>
