
<div class="mdn-main">
  <slick class="mdn-carrousel-p" infinite="true" autoplay="true" autoplaySpeed="5000" dotsClass="mdnDotsP" dots="true" slides-to-show="1" slides-to-scroll="1" adaptiveHeight="true" style="overflow: hidden;" >
    <div class="mdm-slider" style="background-image:url('images/img_p1.jpg');">
      <div id="carrusel_mask"></div>
     <div class="slider-content">
         <!-- <div class="slider-tittle">
          <div style="display: inline-block;">
            <h4>¿QUÉ ESTAS BUSCANDO?</h4>
            <h5>
              BEST CART DEALER
              <br><span></span>
            </h5>
          </div>
        </div>
        <div style="clear:both;"></div>
        <div class="col-xs-6 slider-options">
          <div style="display: inline-block;">
            <i class="icon-mdn_currency_shape-circle"></i>
            <h5>
              COMPRA
              <br><span></span>
            </h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
          </div>
        </div>
        <div class="col-xs-6 slider-options">
          <div style="display: inline-block;">
            <i class=" icon-mdn_puja"></i>
            <h5>
              SUBASTA
              <br><span></span>
            </h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
          </div>
        </div> -->
        <div style="clear:both;"></div>
      </div>
    </div>
    <div class="mdm-slider" style="background-image:url('images/img_p2.jpg');">
      <div id="carrusel_mask"></div>
      <div class="slider-content">
        <!-- <div class="slider-tittle">
          <h4>¿QUÉ ESTAS BUSCANDO?</h4>
          <h5>
            BEST CART DEALER
            <br><span></span>
          </h5>
        </div>
        <div style="clear:both;"></div>
        <div class="col-xs-6 slider-options">
          <i class="icon-mdn_currency_shape-circle"></i>
          <h5>
            COMPRA
            <br><span></span>
          </h5>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
        </div>
        <div class="col-xs-6 slider-options">
          <i class=" icon-mdn_puja"></i>
          <h5>
            SUBASTA
            <br><span></span>
          </h5>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
        </div> -->
        <div style="clear:both;"></div>
      </div>
    </div>
    <div class="mdm-slider" style="background-image:url('images/img_p3.jpg');">
      <div id="carrusel_mask"></div>
      <div class="slider-content">
        <!-- <div class="slider-tittle">
          <h4>¿QUÉ ESTAS BUSCANDO?</h4>
          <h5>
            BEST CART DEALER
            <br><span></span>
          </h5>
        </div>
        <div style="clear:both;"></div>
        <div class="col-xs-6 slider-options">
          <i class="icon-mdn_currency_shape-circle"></i>
          <h5>
            COMPRA
            <br><span></span>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
          </h5>
        </div>
        <div class="col-xs-6 slider-options">
          <i class=" icon-mdn_puja"></i>
          <h5>
            SUBASTA
            <br><span></span>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
          </h5>
        </div> -->
        <div style="clear:both;"></div>
      </div>
    </div>
  </slick>

  <div class="contentFixed" style="position: absolute; top: 220px; width: 100%; text-align: center;">
   <div>
     <h4 style="font-size:30px; color:white;">¿QUÉ ESTAS BUSCANDO?</h4>
     <h5 style="color: #2b9880; font-size: 24px; font-family: 'Mohave'; letter-spacing: 2px;">
       BEST CART DEALER
       <br><span style="display: inline-block; background-color: #f69a2b; width: 80px; border-radius: 10px; height: 6px;"></span>
     </h5>
   </div>

   <div class="col-xs-6" style="text-align:right; padding-right:35px;">
     <i style="font-size: 90px; color:white; " class="icon-mdn_currency_shape-circle"></i>
     <h5 style="  margin-right:15px; font-size: 20px; color:white;" >
       COMPRA
       <br><span style="margin-right: 5px;display: inline-block;background-color: #f69a2b;width: 80px;border-radius: 10px;height: 6px;"></span>
     </h5>
     <div style="width:20%; text-align:center; float:right;">
       <p style="margin-right: -5px; font-size: 10px; color: white; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
     </div>
   </div>
   <div class="col-xs-6" style="text-align:left; padding-left:35px;">
     <i style="font-size: 90px; color:white; " class=" icon-mdn_puja"></i>
     <h5 style=" margin-left:15px; font-size: 20px; color:white;" >
       SUBASTA
       <br><span style="margin-left: 5px;display: inline-block;background-color: #f69a2b;width: 80px;border-radius: 10px;height: 6px;"></span>
     </h5>
     <div style="width:20%; text-align:center; float:left;">
       <p style="margin-left:-5px; font-size: 10px; color: white; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
     </div>
   </div>

  </div>
  <!-- <div style="clear:both;"></div>
  <div class="col-xs-6 slider-options">
   <div style="display: inline-block;">
     <i class="icon-mdn_currency_shape-circle"></i>
     <h5>
       COMPRA
       <br><span></span>
     </h5>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
   </div>
  </div>
  <div class="col-xs-6 slider-options">
   <div style="display: inline-block;">
     <i class=" icon-mdn_puja"></i>
     <h5>
       SUBASTA
       <br><span></span>
     </h5>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
   </div>
  </div> -->


  <div class="container">
    <div class="mdn-gallery-view" >
      <div class="col-lg-4 mdn-gallery" ng-repeat="key in [1,2,3,4,5,6]">
        <div class="mdn-gallery-content" style="background-image:url('/images/noimage.png')">
          <div class="mdn-gallery-info">
            <div class="mdn-gallery-info-content">
              <div>
                <div class="fa fa-plus-circle mdn-gallery-info-icon"></div>
                <div>
                  <div class="plus"></div>
                  <h1>Porshe Carrera</h1>
                  <h2>2016</h2>
                </div>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="clear:both;"></div>
    <div class="mdn-gallery-view-paginator">
      <span class="next"><</span>
      <span class="next" ng-repeat="key in [1,2,3,4,5,6]">{{key}}</span>
      <span class="next">></span>
    </div>
    <div class="mdn-publicidad" >
      <img src="images/publicidad_1.png" alt="">
    </div>
  </div>
  <div class="subasta">
    <div class="mdn-tittle-green">
      <h4><span style="color:black;">MY</span>DEALER NETWORK</h4>
    </div>
    <div class="mdn-big-pic" style="background-image:url('images/subasta.jpg');">

      <div class="big-pic-content">
        <div class="tittle"><h4>¿CÓMO FUNCIONA LA SUBASTA?</h4></div>
        <div>
          <div class="col-xs-4">
            <i class="icon-mdn_user"></i>
            <h5>1. REGISTRATE</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
          </div>
          <div class="col-xs-4">
            <i class="icon-mdn_search"></i>
            <h5>2. BUSCA TU CARRO</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
          </div>
          <div class="col-xs-4">
            <i class="icon-mdn_currency_shape"></i>
            <h5>3. REALIZA TU OFERTA</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
          </div>
          <div class="clear:both;"></div>
          <div>
            <button>COMENZAR</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
